<mat-tab-group>
  <mat-tab label="Overview">
    <h1>Creating Observables</h1>
    <h2>Of</h2>
    <p>Creates an Observable that emits some values you specify as arguments,
      immediately one after the other, and then emits a complete notification.</p>
    <a href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-of">doc</a>

    <h2>Create</h2>
    <p>Creates a new Observable, that will execute the specified function when an Observer subscribes to it.</p>
    <a href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-create">doc</a>

    <h2>From</h2>
    <p>Creates an Observable from an Array, an array-like object,
      a Promise, an iterable object, or an Observable-like object.</p>
    <a href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-from">doc</a>

  </mat-tab>
  <mat-tab label="Example">
    <h2>Of</h2>
    <pre>
      <code class="language-javascript">
        <div [innerHTML]="resultObservableOfAsHtml"></div>
        <p>Result: {{resultObservableOf}}</p>
      </code>
    </pre>

    <h2>Create</h2>
    <pre>
      <code class="language-javascript">
        <div [innerHTML]="resultObservableCreateAsHtml"></div>
        <p>Result: {{resultObservableCreate}}</p>

        <div [innerHTML]="resultObservableCreateUnsubscribeAsHtml"></div>
        <p>Result: {{resultObservableCreateUnsubscribe}}</p>
      </code>
    </pre>

    <h2>From</h2>
    <pre>
      <code class="language-javascript">
        <div [innerHTML]="resultObservableFromAsHtml"></div>
        <p>Result: {{resultObservableFrom}}</p>
      </code>
    </pre>
  </mat-tab>
</mat-tab-group>
